.bold {
  font-weight:bold;
}
.center {
  text-align: center;
}

.clearfix {
  @extend %clearfix;
}

.design-elements {
  margin: 40px auto;
  max-width: 1000px;
  padding: 0 $gutter;
  &__row {
    display: flex;
    margin-left: -$gutter;
  }
  &__item {
    background-color: $bg-color;
    border-radius: $border-radius-base;
    flex: 1;
    margin: 0 0 $gutter $gutter;
    padding: $gutter;
  }
  &__popup {
    background-color: rgba(#000, .5);
    @extend %clearfix;
  }
}

.os-animation {
  opacity: 0;
  &.animated {
    opacity: 1;
  }
}

.base-ttl {
  font-size: rem(42px);
  font-family: $font-family-heading;
  margin: 0 0 rem(30px);
  &_sm {
    font-size: rem(21px);
  }
}

.wrap-padding {
  padding: rem(40px);
}

.wrap-padding-v {
  padding: rem(40px) 0;
}