.btn {
  @extend %btn;
  &_primary {
    @include btn-theme($light-color, $primary-color);
    &-inverse {
      @include btn-theme($primary-color, $light-color, true);
    }
  }
  &_secondary {
    @include btn-theme($light-color, $secondary-color);
    &-inverse {
      @include btn-theme($secondary-color, $light-color, true);
    }
  }
  &_light {
    @include btn-theme($base-color-light, $light-color);
    &:hover {
      background-color: $primary-color;
      color: $light-color;
    }
    &-inverse {
      @include btn-theme($base-color-light, $light-color, true);
    }
  }
  &_reset {
    border-color: transparent;
  }
  &_file {
    position: relative;
    overflow: hidden;
    .file-inp {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }
    input[type="file"]::-webkit-file-upload-button {
      cursor: pointer;
    }
  }
}