.base-inp, .base-textarea, select {
  @extend %form-element;
}

.base-textarea {
  height: $textarea-height;
  resize: none;
  padding: $gutter $gutter;
}

.switch {
  cursor: pointer;
  .switches & {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__inp {
    display: none;
    height: $input-checkbox-size;
    width: $input-checkbox-size;
  }
  &__el {
    background-color: $input-bg-color;
    border: 1px solid rgba($base-color, .2);
    display: inline-block;
    height: $input-checkbox-size;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    width: $input-checkbox-size;
    &:before {
      content: '';
      opacity: 0;
      .switch__inp:checked + & {
        opacity: 1;
      }
    }
    &_radio {
      border-radius: 50%;
      &:before {
        background-color: $primary-color;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
      }
    }
    &_checkbox {
      border-radius: 2px;
      &:before {
        background: url(../img/icons/check.svg) no-repeat;
        background-size: 100% auto;
        content: '';
        height: 9px;
        position: absolute;
        left: 3px;
        top: 5px;
        width: 12px;
      }
      .switch__inp:checked + & {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
  &__text {
    vertical-align: middle;
  }
}

.input-addon {
  border-bottom: 1px solid rgba($base-color-lighter, .5);
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  &__item {
    position: relative;
    width: 35px;
  }
  &__icon {
    fill: $base-color-lighter;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__field {
    border: none;
    flex: 1;
    outline: none;
    padding: 0 10px;
    &:focus + .input-addon__item .icon {
      fill: $primary-color;
    }
  }
}

.error-message {
  background-color: transparentize($secondary-color, .85);
  border-radius: 3px;
  color: transparentize($base-color, .4);
  font-size: rem(14px);
  font-weight: bold;
  padding: 8px 10px;
}