.svg-add-dims {
	width: 20px;
	height: 20px;
}

.svg-album-dims {
	width: 20px;
	height: 18.182px;
}

.svg-arrow_left-dims {
	width: 15.969px;
	height: 26.015px;
}

.svg-arrow_right-dims {
	width: 15.844px;
	height: 25.859px;
}

.svg-cam-dims {
	width: 40px;
	height: 32px;
}

.svg-close-dims {
	width: 26.392px;
	height: 26.015px;
}

.svg-comments-dims {
	width: 20px;
	height: 17.209px;
}

.svg-delete-dims {
	width: 12px;
	height: 15.139px;
}

.svg-edit-dims {
	width: 20px;
	height: 20px;
}

.svg-envelope-dims {
	width: 15px;
	height: 13px;
}

.svg-heart-dims {
	width: 20px;
	height: 16.858px;
}

.svg-home-dims {
	width: 20px;
	height: 21.696px;
}

.svg-like-dims {
	width: 20px;
	height: 16.858px;
}

.svg-loupe-dims {
	width: 39.985px;
	height: 40.001px;
}

.svg-more-dims {
	width: 17px;
	height: 4.25px;
}

.svg-name-dims {
	width: 15px;
	height: 16.102px;
}

.svg-no_like-dims {
	width: 23px;
	height: 19.858px;
}

.svg-off-dims {
	width: 14.895px;
	height: 15px;
}

.svg-password-dims {
	width: 15px;
	height: 17px;
}

.svg-search-dims {
	width: 14.994px;
	height: 14.988px;
}

.svg-soc_email-dims {
	width: 20px;
	height: 20px;
}

.svg-soc_fb-dims {
	width: 20px;
	height: 20px;
}

.svg-soc_google-dims {
	width: 20px;
	height: 20px;
}

.svg-soc_twitter-dims {
	width: 20px;
	height: 20px;
}

.svg-soc_vk-dims {
	width: 20px;
	height: 20px;
}

.svg-top-dims {
	width: 26.703px;
	height: 20.953px;
}

