.footer {
  background: {
    color: $base-color-lighter;
    size: cover;
    position: 50% 70%;
    repeat: no-repeat;
  };
  color: $light-color;
  position: relative;
  &:before {
    background-color: rgba(#000, .8);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__container {
    @extend %justify-content;
    padding: 20px 0;
    position: relative;
  }
  &__text {
    line-height: 1.5;
  }
  &__copy {
    line-height: 1.5;
    opacity: .4;
    text-align: right;
  }
  &__page-move {
    margin: 0 20px;
  }
}

.page-move {
  &__link {
    display: block;
    &:hover {
      transform: translateY(-3px);
    }
  }
  &__icon {
    fill: $light-color;
  }
}