.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
}

.layout-main {
  margin: 0 auto;
  max-width: 1700px;
  padding: 0 60px;
  @include tablets {
    padding: 0 25px;
  }
  @include phones {
    padding: 0 10px;
  }
}